.upload > div {
    width: 204px !important;
    height: auto !important;
    padding: 0.5rem;
}

.upload > div > span {
    justify-content: space-between !important;
}

.input input,
.input textarea {
	@apply bg-transparent;
}
